.menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 1rem;
  align-items: center;

  &__item {
    &__link {
      position: relative;
      &__forme {
        margin: 0 auto;
        background: #c7c7c7;
        border: 5px solid #c7c7c7;
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 300ms;

        &:hover {
          background: #fed144;
          border: 5px solid #fed144;
          transform: scale(1.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1),
            inset 5px 5px 10px rgba(0, 0, 0, 0.1);
        }
      }

      &__active {
        background: #fed144;
        border: 5px solid #fed144;
        transform: scale(1.1);
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
      }
      &__icon {
        width: 17px;
      }
      &__text {
        position: absolute;
        color: #1e1e1e;
        top: 120%;
        left: 50%;

        font-size: 0.8rem;
        text-wrap: nowrap;

        -webkit-animation: slide-in-top 0.5s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
    }
  }
}


/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px) translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}
