$primary: #eac23a;
$secondary: #ff9350;
$bg-main: #dcdcdc;
$bg-white: #e7e4df;
$bg-black: #1e1e1e;
$border-primary: #fbbf3d;
$border-secondary: #de7e43;
$border-bg-white: #b5b3af;
$border-bg-black: #4f4f4f;
$error: #e74c3c;
